<article class="article-general">
    <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera">
    <article class="article-description">
        <i class="fas fa-truck"></i>
        <p class="precios">$6770</p>
        <p class="descuentos">40% OFF</p>
        <p class="descripciones">Cafetera Moulinex</p>
    </article>
</article>