
    <footer>
        <ul type="none">
            <section class="credit-card">
                <i class="fas fa-credit-card"></i>
                <li><strong>Paga con tarjeta o en efectivo</strong></li>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre es
                    seguro!</p>
            </section>

            <section class="free-shipping">
                <i class="fas fa-gift"></i>
                <li><strong>Envío gratis desde $2.500</strong></li>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                    beneficio de
                    Mercado Puntos.</p>
            </section>

            <section class="security">
                <i class="fas fa-user-shield"></i>
                <li><strong>Seguridad, de principio a fin</strong></li>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                    protegido.</p>
            </section>
        </ul>
        <section class="copyright">
            <strong>Copyright © 1999-2021 MercadoLiebre S.R.L.</strong>
        </section>
    </footer>
    <script src="/js/burger-menu.js"></script>
</body>

</html>