<body>
    <header>
        <div class="main-header">
            <a href="/" class="logo">
                <img href="/"src="/images/logo-mercado-liebre.svg" alt="Logo">
            </a>
            
            <form action="/" method="GET" class="form-searchbar">
                <input type="text" placeholder="Buscar productos" class="search-bar"><i class="fas fa-search"></i>
            </form>
            
            <p class="header-text"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>

        <nav class="main-navbar">
            <ul class="nav-bar">
                <li><a href=# alt="Ofertas">Ofertas</a></li>
                <li><a href=# alt="Tiendas Oficiales">Tiendas Oficiales</a></li>
                <li><a href=# alt="Vender">Vender</a></li>
                <li><a href=# alt="Ayuda">Ayuda</a></li>
            </ul>

            <ul class="login-bar">
                <li><a href="register" alt="Creá tu cuenta">Creá tu cuenta </a><i class="fas fa-id-card"></i></li>
                <li><a href="login" alt="Ingresá">Ingresá </a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href=# alt="Mis Compras">Mis Compras </a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>

        <button class="burger-menu"><i class="fas fa-bars"></i></button>
        <div class="panel">
            <p><a href=# alt="Ofertas">Ofertas</a></p>
            <p><a href=# alt="Tiendas Oficiales">Tiendas Oficiales</a></p>
            <p><a href=# alt="Vender">Vender</a></p>
            <p><a href=# alt="Ayuda">Ayuda</a></p>
            <p><a href="register" alt="Creá tu cuenta">Creá tu cuenta </a><i class="fas fa-id-card"></i></p>
            <p><a href="login" alt="Ingresá">Ingresá </a><i class="fas fa-sign-in-alt"></i></p>
            <p><a href=# alt="Mis Compras">Mis Compras </a><i class="fas fa-shopping-basket"></i></p>
        </div>

        <!-- <div class="burger-menu">
            <i class="fas fa-bars"></i>
            <div class="burger-nav">
                
                    <a href=# alt="Ofertas">Ofertas</a>
                    <a href=# alt="Tiendas Oficiales">Tiendas Oficiales</a>
                    <a href=# alt="Vender">Vender</a>
                    <a href=# alt="Ayuda">Ayuda</a>
                    <a href="register" alt="Creá tu cuenta">Creá tu cuenta </a><i class="fas fa-id-card"></i>
                    <a href="login" alt="Ingresá">Ingresá </a><i class="fas fa-sign-in-alt"></i>
                    <a href=# alt="Mis Compras">Mis Compras </a><i class="fas fa-shopping-basket"></i>
                
            </div>
        </div> -->
    </header>