* {
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-style: Roboto;
    font-size: 12px;
    
}
.main-header {
    background-color: #EAC926;
    padding: 20px;
}

.hamburger-button {
    background-color: #03264C;
    color: #ffffff;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

.main-navbar{
    display: none;
}

.main-navbar ul{ 
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}

.logo {
    width: 200px;
}

.copy-header {
    font-weight: 400;
    text-align: center;
}

@media (min-width: 768px) {
    .main-header-top-bar {
        display: flex;
        justify-content: space-between;
    }

    .copy-header {
        max-width: 350px;
        text-align: right;
    }
    .hamburger-button {
        display: none;
    }
    .main-navbar {
        display: flex;
        justify-content: space-between;
    }
    .main-navbar ul {
        display: flex;
        
    }
    .main-navbar li {
        margin: 0 5px;

    }
}


/* 
main{
    width: 90vw;
    margin: auto;  
}

article{
    margin: 10px;
}

.box-products{
    margin: 0;
    border-top: 1px solid #ebebeb;
    padding: 15px;
}

.main-header {
    background-color: #EAC926;
    padding: 20px;
}

.fontofertas{
    font-size: 24px;
}

.fontprecios{
    font-size: 18px;
}
.fontdescuentos{
    font-size: 16px;
}
.fontdescripciones{
    font-size: 16px;
}
.lista{
    list-style: none;
}

.footer{
    text-align: center;
}
.botonburger {
    border: 1px solid red;
} */